topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  .topnav input[type=text] {
    float:inherit;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
  }

/* Main CSS BELOW */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.product:hover{
    background-color: rgb(255, 204, 0);
    cursor: pointer;
}

img {
    width:200px;
    height: 200px;
}

p{
    font-size: medium;
}

.grid-container {
    margin-top: 1%;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(49, 222, 175);
    padding: 5px;
    gap:10px;
  }
  
  .grid-item {
    background-color: rgb(235, 235, 157);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 30px;
    text-align:center;
  }

  .test{
    background-color: green;
  }