/* Body */

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f7f7f7da;
}

/* Title */

h1 {
  font-family: "Brush Script MT";
  text-align: center;
  margin: 1%;
  font-size: xxx-large;
}

/* Search Bar */

.search-bar {
  margin: 20px 0;
}

.search-input {
  width: 95%;
  padding: 12px;
  border: 1px solid #555555;
  border-radius: 5px;
  font-size: 16px;
}

/* Select Box */

select {
  margin: 20px;
  height: 3em;
  border-radius: 0.25rem;
  background-color: #f6efef;
}

option {
  background-color: rgb(145, 235, 231);
}

select {
  padding: 8px;
  font-size: 14px;
}

label {
  font-weight: bold;
  font-size: large;
}

/* Grid for Product List */

.grid-container {
  display: grid;

  /* creating responsive grid with columns at least 300px wide, 
  dynamically adjusting to fill available space.*/
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  grid-gap: 20px;
  padding: 20px;
}

.grid-item {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
  width: 300px;
}

.grid-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 179, 64);
  cursor: pointer;
}


.grid-item h4 {
  margin: 0 0 10px;
  font-size: 1.5rem;
}

.grid-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10%;
}

/* No Product Message */

.no-product {
  text-align: center;
  font-size: xx-large;
}

.hide {
  display: none;
}

/* Pagination */

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  padding: 8px 12px;
  margin: 0 5px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.pagination a.active {
  background-color: rgb(48, 219, 91);
  color: white;
  border: 1px solid rgb(36, 138, 61);
}

.pagination a:hover {
  background-color: #ddd;
}

